@use "../../scss/colors";
@use "../../scss/constants";

.hero {
  background-image: url(./img/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .hero__container {
    @include constants.flex;
    flex-direction: column;
    align-items: center;
    padding: 284px 0 269px 0;
    .hero__title {
      font-weight: constants.$fw-extrabold;
      font-size: 72px;
      line-height: 97%;
      color: colors.$white;
    }
    .hero__text {
      margin-bottom: constants.$spacing-lg;
      width: 60%;
      font-weight: 400;
      font-size: 22px;
      line-height: 182%;
      text-align: center;
      color: colors.$white;
    }
    .hero__btn {
      font-size: 14px;
      line-height: 129%;
      text-transform: uppercase;
      text-align: center;
      color: colors.$white;
      background: colors.$accent;
    }
  }
}
